*, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #faebd7;
  color: #2f4f4f;
  font-family: 'Dongle', sans-serif;
  font-size: 1.5rem;
  height: 100vh;
}

h1 {
  font-family: 'Baloo Bhaina 2', cursive;
  font-size: 3rem;
  line-height: 124px;
}

header {
  background: brown;
  color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - (100px + 40px));
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

form fieldset {
  border: 2px solid #333;
  border-radius: 10px;
  background: #efefef;
  color: #333;
  margin: 2rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 300px;
  height: 500px;
  font-size: 2rem;
}

form legend {
  margin-left: 1rem;
  padding: 0.5 rem;
}

form label {
  font-weight: 800;
}

form input {
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
}

form button {
  background: #a5432a;
  color: #fff;
  height: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
}

form button:hover {
  background: brown;
}

.logout button {
  height: 40px;
  width: 100px;
  font-size: 1.3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.universe {
  background: #333;
  width: 600px;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (60px)[10];
      grid-template-columns: repeat(10, 60px);
  -ms-grid-rows: (60px)[10];
      grid-template-rows: repeat(10, 60px);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-flow: dense;
  gap: 0;
}

.cell {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #F00;
}

.dead {
  background: #fefefe;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 600px;
}

.next button, .reset button {
  height: 40px;
  width: 100px;
  font-size: 1.3rem;
}

footer {
  background: brown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  height: 40px;
  color: #efefef;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 48px;
}
/*# sourceMappingURL=gol.css.map */