*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #faebd7;
    color: #2f4f4f;
    font-family: 'Dongle', sans-serif;
    font-size: 1.5rem;
    height: 100vh; 
}

h1 {
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 3rem;
    line-height: 124px;
}

header {
    background: brown;
    color: #efefef;
    display: flex;
    height: 100px;
    justify-content: center;
}
 
main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - (100px + 40px));
    justify-content: space-around;
}

form {

    fieldset {
        border: 2px solid #333;
        border-radius: 10px;
        background: #efefef;
        color: #333;
        margin: 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
        height: 500px;
        font-size: 2rem;
    }
    legend {
        margin-left: 1rem;
        padding: 0.5 rem;
    }
    label {
        font-weight: 800;
    }
    input {
        padding: 1rem;
        width: 100%;
        border-radius: 5px;
    }
    button {
        background: rgb(165, 67, 42);
        color: #fff;
        height: 100px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 2rem;
        &:hover {
            background: brown;
        }

    }
}

.logout button {
    height: 40px;
    width: 100px;
    font-size: 1.3rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.universe {
    //border: 1px solid #333;
    background: #333;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(10, 60px);
    grid-template-rows: repeat(10, 60px);
    grid-template-rows: auto;
    grid-auto-flow: dense;
    gap: 0;
}

.cell {
    //border: 1px dashed blue;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #F00;
}

.dead {
    background: #fefefe;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
}

.next button, .reset button {
    height: 40px;
    width: 100px;
    font-size: 1.3rem;
}

footer {
    background: brown;
    display: flex;
    font-size: 1rem;
    height: 40px;
    color: #efefef;
    justify-content: space-around;
    line-height: 48px;
}